extends base

block css
    link(rel="stylesheet", href="/stylesheets/about.css")
block content
    div#header|What is this game about?
    div.container.content.col-md-12
        img.center-block(src="http://cs.pikabu.ru/images/big_size_comm/2013-10_2/13812479122989.jpg")