extends base

block content
    div.container
        div.login-container
            div#output
            div.avatar
            div.form-box
                form(action="#{menu}")
                    input(name="user", type="text", placeholder="username")
                    input(type="password", placeholder="password")
                    button(class="inputButton ", type="submit")
                        font#login_btn Login
                a(class="inputButton",href="/registration")
                    font#register_btn Register