extends base

block content
    a.menu_item(href="#{game}" class="inputButton")
        font Game
    a.menu_item(href="#{about}" class="inputButton")
        font About
    a.menu_item(href="#{stats}" class="inputButton")
        font Leaderboard
    a.menu_item(href="#{logout}" class="inputButton")
        font Log out