extends base

block css
    link(rel="stylesheet", href="/stylesheets/registration.css")

block content


    div.container
        div.col-md-12
            div#logbox
                form(id="signup", method="post" , action="signup")
                    h1="create an account"
                    input.input(name="username", type="text", placeholder="What's your username",pattern="^[\w]{3,16}$", autofocus = "autofocus", required = "true")
                    input.input.pass(name="password1", type="password", placeholder="Choose a password", required="true")
                    input.input.pass(name="password2", type="text", placeholder="Confirm password", required="true")
                    input.input(name="email", type="text", placeholder="Email address",pattern="^[\w]{3,16}$", required = "true")
                    input.inputButton(type="submit" value="Sign me up!")
                    div.text-center
                        | already have an account?
                        a(href="login")
                            |   login