extends base

block css
    link(rel="stylesheet", href="/stylesheets/stats.css")

block content
    h1.text-center
        font.header Highest results
    for user, rate in stats
        div.stats_element #{rate} : #{user}